In [1]:
import pandas as pd

Fix csv source file
Remove double quotes in column names and replace semicolon by comas

Import source file into our 'data' variable using pandas

In [2]:
#Import dataset
data = pd.read_csv('/Users/diego/Documents/python/data/winequality-red.csv')
data2 = pd.read_csv('/Users/diego/Documents/python/data/winequality-white.csv',header=0,sep=';')
data3 = pd.read_csv('/Users/diego/Documents/python/data/winequality-myredwines.csv')

In [3]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
data3.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.400,0.700,0.000,1.900,0.076,11.000,34.000,0.998,3.510,0.560,9.400,5.0
1,6.301,0.646,0.294,0.682,0.090,11.387,69.292,0.997,3.546,0.513,10.098,5.0
2,11.765,0.573,0.566,0.623,0.028,17.601,59.623,0.997,3.589,0.481,10.962,5.0
3,7.047,0.746,0.024,2.359,0.065,16.571,60.868,0.998,3.344,0.450,12.464,6.0
4,10.321,0.506,0.192,0.550,0.037,13.615,36.730,0.998,3.302,0.555,13.733,5.0

## Data Preparation

In [5]:
#Split data into target (y) and features (X)
y = data['quality']
data = data.drop('quality', axis=1)
X = data

y2 = data2['quality']
data2 = data2.drop('quality', axis=1)
X2 = data2

data3 = data3.drop('quality', axis=1)
X3 = data3

In [6]:
X

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

In [7]:
y

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [8]:
X2

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9
...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8

In [9]:
y2

0       6
1       6
2       6
3       6
4       6
       ..
4893    6
4894    5
4895    6
4896    7
4897    6
Name: quality, Length: 4898, dtype: int64

In [10]:
X3

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.400,0.700,0.000,1.900,0.076,11.000,34.000,0.998,3.510,0.560,9.400
1,6.301,0.646,0.294,0.682,0.090,11.387,69.292,0.997,3.546,0.513,10.098
2,11.765,0.573,0.566,0.623,0.028,17.601,59.623,0.997,3.589,0.481,10.962
3,7.047,0.746,0.024,2.359,0.065,16.571,60.868,0.998,3.344,0.450,12.464
4,10.321,0.506,0.192,0.550,0.037,13.615,36.730,0.998,3.302,0.555,13.733

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
#split data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.2)

In [13]:
X_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
932,7.6,0.400,0.29,1.90,0.078,29.0,66.0,0.99710,3.45,0.59,9.5
1487,6.0,0.640,0.05,1.90,0.066,9.0,17.0,0.99496,3.52,0.78,10.6
812,10.8,0.450,0.33,2.50,0.099,20.0,38.0,0.99818,3.24,0.71,10.8
698,9.4,0.615,0.28,3.20,0.087,18.0,72.0,1.00010,3.31,0.53,9.7
93,7.7,0.490,0.26,1.90,0.062,9.0,31.0,0.99660,3.39,0.64,9.6
...,...,...,...,...,...,...,...,...,...,...,...
416,10.6,0.480,0.64,2.20,0.111,6.0,20.0,0.99700,3.26,0.66,11.7
1595,5.9,0.550,0.10,2.20,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1181,9.8,0.390,0.43,1.65,0.068,5.0,11.0,0.99478,3.19,0.46,11.4
84,6.3,0.300,0.48,1.80,0.069,18.0,61.0,0.99590,3.44,0.78,10.3
1332,8.4,0.390,0.10,1.70,0.075,6.0,25.0,0.99581,3.09,0.43,9.7

In [14]:
X_test

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
94,5.0,1.020,0.04,1.40,0.045,41.0,85.0,0.99380,3.75,0.48,10.5
1096,6.6,0.725,0.09,5.50,0.117,9.0,17.0,0.99655,3.35,0.49,10.8
563,7.6,0.290,0.49,2.70,0.092,25.0,60.0,0.99710,3.31,0.61,10.1
914,7.3,0.305,0.39,1.20,0.059,7.0,11.0,0.99331,3.29,0.52,11.5
1374,6.8,0.815,0.00,1.20,0.267,16.0,29.0,0.99471,3.32,0.51,9.8
...,...,...,...,...,...,...,...,...,...,...,...
739,9.0,0.690,0.00,2.40,0.088,19.0,38.0,0.99900,3.35,0.60,9.3
357,10.5,0.420,0.66,2.95,0.116,12.0,29.0,0.99700,3.24,0.75,11.7
272,10.9,0.370,0.58,4.00,0.071,17.0,65.0,0.99935,3.22,0.78,10.1
612,7.5,0.640,0.00,2.40,0.077,18.0,29.0,0.99650,3.32,0.60,10.0
1415,6.2,0.580,0.00,1.60,0.065,8.0,18.0,0.99660,3.56,0.84,9.4

In [15]:
y_train

932     6
1487    5
812     5
698     5
93      5
       ..
416     6
1595    6
1181    5
84      6
1332    6
Name: quality, Length: 1279, dtype: int64

In [16]:
y_test

94      4
1096    6
563     6
914     6
1374    3
       ..
739     5
357     7
272     5
612     6
1415    5
Name: quality, Length: 320, dtype: int64

In [17]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create Random Forest Classifier
clf=RandomForestClassifier(n_estimators=1000, max_depth=14, oob_score=True)

clf2=RandomForestClassifier(n_estimators=50, max_depth=10, oob_score=True)

#Put our data through the Random Forest Classifier
clf.fit(X_train, y_train)

clf2.fit(X2_train, y2_train)

RandomForestClassifier(max_depth=10, n_estimators=50, oob_score=True)

In [18]:
#Test accuracy agains the train data
clf.score(X_train, y_train)

1.0

In [19]:
clf2.score(X2_train, y2_train)

0.8264420622766717

In [20]:
#Test accuracy agains the test data
clf.score(X_test, y_test)

0.709375

In [21]:
clf2.score(X2_test, y2_test)

0.6234693877551021

In [22]:
clf.oob_score_

0.6841282251759186

In [23]:
clf.feature_importances_

array([0.07380595, 0.10438628, 0.07263216, 0.0711905 , 0.07884954,
       0.06565413, 0.10840127, 0.08817711, 0.07515726, 0.11108262,
       0.15066319])

In [24]:
y_pred=clf.predict(X_test)
y_pred

array([5, 6, 6, 6, 5, 6, 5, 5, 6, 6, 7, 5, 6, 6, 6, 6, 5, 6, 6, 6, 6, 5,
       6, 6, 5, 6, 7, 5, 5, 5, 6, 6, 6, 6, 5, 7, 5, 5, 6, 7, 6, 6, 7, 8,
       6, 5, 7, 5, 6, 5, 5, 6, 6, 6, 5, 5, 6, 6, 5, 5, 5, 6, 5, 7, 7, 6,
       7, 5, 5, 5, 6, 5, 5, 5, 5, 5, 6, 7, 7, 5, 6, 6, 6, 5, 5, 5, 6, 5,
       5, 5, 5, 6, 4, 6, 6, 5, 6, 5, 6, 5, 7, 6, 5, 5, 6, 6, 6, 7, 6, 5,
       5, 6, 6, 5, 5, 6, 6, 6, 7, 6, 7, 6, 6, 5, 7, 6, 6, 6, 5, 6, 5, 6,
       5, 6, 5, 5, 6, 5, 5, 6, 6, 6, 5, 5, 5, 5, 5, 6, 5, 5, 5, 5, 5, 5,
       6, 5, 5, 5, 5, 6, 6, 5, 6, 5, 5, 5, 5, 6, 5, 6, 6, 6, 5, 6, 6, 5,
       6, 5, 6, 6, 6, 6, 6, 5, 5, 7, 5, 5, 6, 5, 7, 5, 6, 5, 6, 5, 6, 6,
       5, 7, 6, 6, 6, 5, 6, 7, 6, 6, 6, 6, 6, 5, 5, 6, 5, 5, 7, 7, 5, 5,
       6, 6, 5, 6, 6, 7, 5, 7, 6, 5, 6, 5, 5, 5, 6, 5, 6, 5, 6, 6, 6, 7,
       5, 6, 5, 6, 7, 5, 6, 6, 6, 6, 6, 5, 5, 5, 7, 6, 6, 5, 6, 5, 5, 6,
       5, 5, 6, 5, 5, 7, 5, 6, 6, 6, 5, 5, 6, 5, 7, 6, 6, 6, 6, 6, 5, 6,
       6, 6, 5, 5, 6, 5, 6, 5, 5, 7, 5, 6, 6, 6, 5, 6, 5, 6, 7, 5, 5, 6,
       7, 5, 5, 5, 6, 7, 6, 5, 6, 6, 5, 5], dtype=int64)

In [32]:
X3

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.400,0.750,0.000,1.900,0.076,11.000,34.000,0.998,3.510,0.560,9.400
1,6.301,0.646,0.294,0.682,0.090,11.387,69.292,0.997,3.546,0.513,10.098
2,11.765,0.573,0.566,0.623,0.028,17.601,59.623,0.997,3.589,0.481,10.962
3,7.047,0.746,0.024,2.359,0.065,16.571,60.868,0.998,3.344,0.450,12.464
4,10.321,0.506,0.192,0.550,0.037,13.615,36.730,0.998,3.302,0.555,13.733

In [73]:
X3.iloc[0]

fixed acidity            7.400000
volatile acidity         0.622489
citric acid              0.000000
residual sugar           1.900000
chlorides                0.076000
free sulfur dioxide     11.000000
total sulfur dioxide    34.000000
density                  0.998000
pH                       3.510000
sulphates                0.556097
alcohol                 11.990679
Name: 0, dtype: float64

In [34]:
for index, row in X3.iterrows():
    print(row['volatile acidity'], row['alcohol'])

0.75 9.4
0.646 10.098
0.573 10.962
0.746 12.464
0.506 13.733

In [71]:
import random
for index, row in X3.iterrows():
    X3.iloc[index]["volatile acidity"] = random.uniform(0.5, 0.8)
    X3.iloc[index]["sulphates"] = random.uniform(0.4, 0.8)
    X3.iloc[index]["alcohol"] = random.uniform(8, 14)
    
X3

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.400,0.622489,0.000,1.900,0.076,11.000,34.000,0.998,3.510,0.556097,11.990679
1,6.301,0.718180,0.294,0.682,0.090,11.387,69.292,0.997,3.546,0.681585,11.532391
2,11.765,0.511974,0.566,0.623,0.028,17.601,59.623,0.997,3.589,0.521871,11.277056
3,7.047,0.620328,0.024,2.359,0.065,16.571,60.868,0.998,3.344,0.599694,10.263246
4,10.321,0.610684,0.192,0.550,0.037,13.615,36.730,0.998,3.302,0.539140,10.750175

In [79]:
clf.predict(X3)

array([7, 8, 6, 5, 6], dtype=int64)

In [78]:
X3.iloc[0] = ["7.9","0.35","0.46","3.6","0.078","15","37","0.9973","3.35","0.86","12.8"]
X3.iloc[1] = ["10.3","0.32","0.45","6.4","0.073","5","13","0.9976","3.23","0.82","12.6"]
X3

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.9,0.35,0.46,3.6,0.078,15,37,0.9973,3.35,0.86,12.8
1,10.3,0.32,0.45,6.4,0.073,5,13,0.9976,3.23,0.82,12.6
2,11.765,0.511974,0.566,0.623,0.028,17.601,59.623,0.997,3.589,0.521871,11.277056
3,7.047,0.620328,0.024,2.359,0.065,16.571,60.868,0.998,3.344,0.599694,10.263246
4,10.321,0.610684,0.192,0.55,0.037,13.615,36.73,0.998,3.302,0.53914,10.750175